.button-card {
  border-radius: 0b;
  /* background-color: #272727;
  color: #acc8b4; */
  max-width: 338px;
  min-width: 338px;
}

.button-styling {
  margin: auto;
  width: 100%;
  height: 100%;
  /* border-color: #2d4d1a; */
}

/* .mat-sidenav-content {
  height: 92vh;
} */

.toggle-button {
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #acc8b4;
}

mat-sidenav-content {
  /* background-color: #272727;
  color: #acc8b4; */
}

mat-sidenav {
  /* border-right: 1px solid #0da1cd; */
  /* background-color: #272727;
  color: #acc8b4; */
}
