.full-width {
  width: 100%;
}

.display-container {
  margin: 3em;
}

.content {
  font-size: 2em;
  /* color: #0da1cd; */
  margin-bottom: 2em;
  line-height: 1.6;
}

.mat-stroked-button {
  border-color: #acc8b4;
}
